body{
    margin: 0;
    background-color: #111428;
    display: flex;
}

.screen{
    display: flex;
    gap: 765px;
}

.rightSide{
    display: flex;
    border: solid;
    width: 20vw;
    height: 100vh;
    
}

.search{
    width: 17vw;
    height: 3vh;
    justify-content: center;
}