
.navbar{
    display: flex;
    border: solid #303138;
    width: 20vw;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.logo:hover{
    color: cyan;
}

.home:hover{
    color: cyan;
}

.notification:hover{
    color: cyan;
}

.messages:hover{
    color: cyan;
}

.favoritt:hover{
    color: cyan;
}