.gif-box {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 300px;
  height: 350px;
  background: #111;
  border-radius: 10px;
  border: 1px solid #333;
  padding: 10px;
  overflow-y: scroll;
  z-index: 20;
}

.gif-header {
  display: flex;
  gap: 5px;
}

.gif-search {
  flex: 1;
  padding: 6px;
  background: #222;
  border: none;
  color: white;
  border-radius: 6px;
}

.gif-search-btn {
  background: #00acee;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
}

.gif-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.gif-item {
  width: 100px;
  border-radius: 6px;
  cursor: pointer;
}
